<IfModule mod_authz_core.c>
    Require all denied
    <FilesMatch "\.(js|css|gif|jpg|jpeg|png|webp|avif|svg|webmanifest|ico|xml|woff|woff2|ttf)$">
        Require all granted
    </FilesMatch>
</IfModule>