services:
  wp:
    image: wordpress:latest
    ports:
      - "${IP:-127.0.0.1}:${PORT:-8000}:80"
    volumes:
      - .:/var/www/html/wp-content/themes/${THEME_SLUG:-starter}
      - wp_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "${DB_NAME:-wordpress}"
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: "${DB_ROOT_PASSWORD:-password}"
      WORDPRESS_DEBUG: "${WORDPRESS_DEBUG:-1}"
    depends_on:
      - db

  wpcli:
    image: wordpress:cli
    user: "33:33"
    volumes_from:
      - wp
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_NAME: "${DB_NAME:-wordpress}"
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: "${DB_ROOT_PASSWORD:-password}"
    depends_on:
      db:
        condition: service_healthy
      wp:
        condition: service_started
    profiles:
      - cli

  db:
    image: mariadb:lts
    ports:
      - "${IP:-127.0.0.1}:3306:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: "${DB_NAME:-wordpress}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD:-password}"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data:
  wp_data:
