# Network Configuration
IP=127.0.0.1
PORT=80

# Database Configuration
DB_NAME=wordpress_dev
DB_ROOT_PASSWORD=wordpress_db_password

# WordPress Configuration
WORDPRESS_DEBUG=1

# PHP Configuration
PHP_UPLOAD_MAX_FILESIZE=64M
PHP_POST_MAX_SIZE=64M
PHP_MEMORY_LIMIT=256M

# Optional: WordPress Table Prefix
WORDPRESS_TABLE_PREFIX=wp_

# Optional: WordPress Default Language
WORDPRESS_LANG=es_ES
